<% 
   provide(:title,  t( "views.session.new.title" ) ) 

   if flash.empty?
          exist_error = "no_error"
   else
          exist_error = "field_with_errors"
   end	
%>
<div class="row">
	    <div class="col-lg-3"></div>
	    <div class="col-lg-6">
	        <fieldset> 
			    <legend> <%= t( "views.session.new.title" ) %> </legend>

			    <%= form_for(:session, :url => sessions_path, 
			                           :html => { class: "form-horizontal #{exist_error}" } ) do |f| %>
                    
				    <div class="form-group">
				        <%= f.label :email, class: "col-lg-4 control-label" %>
				      <div class="col-lg-8 "> 
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span> 
                            <%= f.text_field :email, class: "form-control " %>
                        </div>  
				      </div>
				    </div>
				    <div class="form-group">
				        <%= f.label :password, class: "col-lg-4 control-label" %>
				      <div class="col-lg-8"> 
				        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span> 
                            <%= f.password_field :password, class: "form-control" %>
                        </div>    
				      </div>
				    </div>
 
			        <aside class="form-group tx-center">     
				            <%= button_tag(type: 'submit', class: "btn btn-large btn-primary wd-25") do %>
                                <span class='img-loader hide'></span>  
                                <%= t("views.session.new.sign_in") %>  
                            <% end %>			
			        </aside>


			    <% end %>
                <p> <%= t("views.session.new.user") %> <%= link_to t("views.session.new.signup"), signup_path %></p>
            </fieldset>
        </div>
        <div class="col-lg-3"></div>
</div>