<% provide(:title, t( "views.user.edit.title" ) ) %>


<div class="row "> 
	    <div class="col-lg-3"></div>
	    <div class="col-lg-6">
	        <fieldset> 
			    <legend> <%= t( "views.user.edit.header" ) %> </legend>
                    <aside class="form-group tx-center">  
				       
				       <%= gravatar_for @user %> 
                       <a target="blank" href="http://gravatar.com/emails">  <%= t("views.user.edit.change") %> </a>
                    </aside>

                    <%= form_for(@user, :html => { class: "form-horizontal" }   ) do |f| %>	   
	                    
	                    <%= render 'form', f: f %> 

	                    <aside class="form-group tx-center">  
				              <%= f.submit t("views.user.edit.update"), class: "btn btn-large btn-primary wd-25" %>
				        </aside>
			              
                    <% end %>
                    
			</fieldset>    
	    </div>
	    <div class="col-lg-3"></div>
</div>