<% 
   provide(:title, t( "views.user.edit_password.title" ) ) 

   if flash.empty?
          exist_error = "no_error"
   else
          exist_error = "field_with_errors"
   end	
%>

<div class="row "> 
	    <div class="col-lg-3"></div>
	    <div class="col-lg-6">
	        <fieldset> 
			    <legend> <%= t( "views.user.edit_password.header" ) %> </legend>
                     <%= form_for(@user, :url => { :action => "update_password" },     
                                       :html => { class: "form-horizontal #{exist_error}" }   ) do |f| %>	   
	                    <%= render 'shared/error_messages', object: f.object %>
	                    <div class="form-group">
				          <%= f.label :current_password, class: "col-lg-4 control-label" %>
				          <div class="col-lg-8"> 
				                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span> 
                                    <%= f.password_field :current_password, class: "form-control" %>
                                </div>    
				          </div>
				        </div>
                        <aside class="form-group tx-center">  
				           <div class="col-lg-4"> </div>
				           <i>( <%= t("views.user.edit_password.desc") %> ) </i>
                        </aside>

	                    <div class="form-group">
				          <%= f.label :password, class: "col-lg-4 control-label" %>
				          <div class="col-lg-8"> 
				                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span> 
                                    <%= f.password_field :password, class: "form-control" %>
                                </div>    
				          </div>
				        </div>
				        <div class="form-group">
				            <%= f.label :password_confirmation, class: "col-lg-4 control-label" %>
				          <div class="col-lg-8"> 
				                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span> 
                                    <%= f.password_field :password_confirmation, class: "form-control" %>
                                </div>    
				          </div>
				        </div> 
	                    <aside class="form-group tx-center">  
				            <%= button_tag(type: 'submit', class: "btn btn-large btn-primary wd-25") do %>
                                <span class='img-loader hide'></span>  
                                <%= t("views.user.edit_password.update") %>  
                            <% end %>
				        </aside>
			              
                    <% end %>
                    
			</fieldset>    
	    </div>
	    <div class="col-lg-3"></div>
</div>