<h1><%= t 'views.product.new.title' %></h1>

<%= form_for(@product) do |f| %>
  <%= render 'form', f: f  %>
  <div class="actions">
    <%= f.submit  I18n.t('views.product.new.create') %>
  </div>
<% end %>


<%= link_to I18n.t('views.back'), products_path %>
