  
<div class="row">
  <div class="col-lg-3"></div>
  <aside class="col-lg-6">
    <legend>  <%= t 'views.product.show.title' %>   </legend>
    <section>
      <div class="span4">
           <strong><%= Product.human_attribute_name(:name) %>:</strong>
           <%= @product.name %>
      </div>   
    </section>

    <section>
      <div class="span4">
           <strong><%= Product.human_attribute_name(:description) %>:</strong>
           <%= @product.description %>
      </div>   
    </section>

    <section>
      <div class="span4">
           <strong><%= Product.human_attribute_name(:price) %>:</strong>
           <%= number_to_currency( @product.price) %>
      </div>   
    </section>
    <%= link_to I18n.t('views.edit'), edit_product_path(@product),  class: "btn btn-large btn-primary"   %> 
    <%= link_to I18n.t('views.back'), products_path,  class: "btn btn-large btn-primary"   %>

  </aside>
  <div class="col-lg-3"></div>
</div>


  


