<!DOCTYPE html>
<html>
<head>
  <title>BusNumbers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Font Awesome 4.0.3  -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

   
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <% if I18n.locale.to_s == "en" %>
     <%= link_to_unless I18n.locale == :tr, "Turkish", locale: :tr %>
  <% else %>
    <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
  <% end %>

</p>

<%= yield %>

</body>
</html>
