<!DOCTYPE html>
<html lang="<%= I18n.locale %>" >
<head>
 
  <!--
  <meta name="description" content="description">
  <meta name="keywords" content="keywords">
  <link rel="canonical" href="">
  <link rel="alternate" href="http://www.url.com/tr/" hreflang="tr-TR">
  <link rel="alternate" href="http://www.url.com/en/" hreflang="en-UK">
  <meta name="application-name" content="">
  <meta property="fb:app_id" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.url.com/">
  <meta property="og:locale" content="">
  <meta property="og:site_name" content="">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta name="copyright" content="@ Copyright 2013-2014">
  <meta name="distribution" content="global" />
  <meta name="author" content="İsmail Akbudak">
  <meta name="robots" content="all">  
  <link rel="icon" type="image/x-icon" href="">
  <link rel="image_src" href="" />
  -->
  <meta charset="utf-8">
  <%= metamagic :language           =>  get_language  ,
                :title              => full_title( yield(:title) ) , 
                :description        => "description", 
                :keywords           => %w(keyword1 keyword2 keyword3),
                :"application-name" => "Otobüs Güzergahları",
                :copyright          => "@ Copyright 2013-2014",
                :distribution       =>  "global",
                :author             => "İsmail Akbudak",
                :robots             => "all"                            %>

  <%= favicon_link_tag 'bus-4-32.ico' %>
  <%= stylesheet_link_tag    "application",        media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap.min.css",  media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootswatch.min.css", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <!-- Latest compiled and minified CSS 
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  -->
     
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>   
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
      <%= render 'layouts/header' %> 
      <br>
      <div class="container" >
        <div class="row" >
          <div class="col-lg-3"></div>
            <div class="col-lg-6" > 
                 <% flash.each do |key, value| %>
                    <div class="alert alert-dismissable alert-<%= key %>">
                        <% if key.to_s == "danger" || key.to_s == "warning" || key.to_s == "notice" %>
                                <i class="fa fa-exclamation-triangle fs-25"></i> 
                                <strong> <%= t 'errors.message.sory' %> ! </strong>    
                        <% else   %>
                                 <i class="fa fa-smile-o fs-25" style="padding: 0px 5px;" ></i>           
                        <% end %> 
                        <%=  value %></div>
                 <% end %>
            </div>
            <div class="col-lg-3"> </div>
        </div>
        <%= yield %>
      </div>   
      <%= render 'layouts/footer' %>

      <div class="container" >
         <%= debug(params) if Rails.env.development? %> 
      </div>

      <%= javascript_include_tag "bootstrap.min.js", "data-turbolinks-track" => true  %>
      <%= javascript_include_tag "bootswatch.js", "data-turbolinks-track" => true  %>
</body>
</html>
